/* body{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    background: #f3f4f7;
}
label{
    font-weight: 400;
    color: #222;
}
.card{
    background: #f9fafd;
}
.account-pages h4{
    color: #000;
    font-size: 22px;
    font-weight: 500;
}
.logo-lg h2{
    font-weight: normal;
    font-size: 21px;
    text-transform: uppercase;
    color: #000;
}
.content-page .card{
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.mospills .nav-item a.active{
    color: #fff !important;
} */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Rubik', sans-serif;
    color: #c8c8c8;
    font-size: 14px;
    font-weight: 300;
    background-color: #1F2128;
}
.end-bar-enabled .end-bar{
    display: none;
  }
.navbar-custom {
    background-color: #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-custom .topbar-menu .nav-link {
    color: #c8c8c8;
}
.leftside-menu, .card{
    box-shadow: 0px 3px 15px #00000052!important;
    background: #272931!important;
}
thead, tbody, tfoot, tr, td, th{
    vertical-align: middle;
  }
.card-header {
    background: #272931!important;
    border-top-left-radius: 8px!important;
    border-top-right-radius: 8px!important;
}
.card-body{
    border-bottom-left-radius: 8px!important;
    border-bottom-right-radius: 8px!important;
}
.container-fluid {
    padding-right: var(--bs-gutter-x, 20px);
    padding-left: var(--bs-gutter-x, 20px);
}
body[data-leftbar-theme="dark"] .leftside-menu .logo {
    background: #272931 !important;
}
.nav-user {
    background-color: #1a1a1a;
    border: 1px solid #1a1a1a;
}
body[data-leftbar-theme="dark"] .side-nav .menuitem-active > a {
    color: #eee !important;
    background: #0076ec;
}
.side-nav .side-nav-link i {
    color: #eee;
}
.btn-dark {
    color: #eeeeee;
    background-color: #0076ec;
    border-color: #0076ec;
    box-shadow: none;
}
.page-item.active .page-link {
    background-color: #0076ec;
    border-color: #0076ec;
}
.bg-warning {
    background-color: #0076ec !important;
}
.btn-warning {
    color: #eeeeee;
    background-color: #0076ec;
    border-color: #0076ec;
    -webkit-box-shadow: 0px 2px 6px 0px #0076ec85;
    box-shadow: 0px 2px 6px 0px #0076ec85;
}
.btn-warning:hover {
    color: #ffffff;
    background-color: #006cd8;
    border-color: #006cd8;
}
.card-footer {
    background-color: #272931;
    border-top: 1px solid #464f5b;
}
@media only screen and (max-width: 767px) {
.container-fluid {
    padding-right: var(--bs-gutter-x, 10px);
    padding-left: var(--bs-gutter-x, 10px);
  }
}


.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {addEventListener
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #a5dc86;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}